<html>
<head>
    <style>
        #devices {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#devices td, #devices th {
  border: 1px solid #ddd;
  padding: 8px;
}

#devices tr:nth-child(even){background-color: #f2f2f2;}

#devices tr:hover {background-color: #ddd;}

#devices th {
  cursor: pointer;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #47BBF5;
  color: black;
}
    </style>
    <title> LD Logs Details</title>
</head>
<body>
<div style='float:left;padding-right:20px'>
<b>Your role: {{user}}</b>
</div>
<div style='float:left;padding-right:5px'>
<form action="/login" method="get">
    <input type="submit" value="Login" />
</form>
</div>
<div style='float:left;padding-right:5px'>
<form action="/signup" method="get">
    <input type="submit" value="Sign Up" />
</form>
</div>
<form action="/logout" method="get">
    <input type="submit" value="Logout" />
</form>
<form action="" method="get">
  <label for="view">Choose view:</label>
  <select id="view" name="view" onchange="this.form.action=this.value;">
      <option value="/logs-web">Vector Logs</option>
      <option value="/ldlogs-web" selected>Lauterbach Logs</option>
      <option value="/devices-web">Keyman Devices</option>
      <option value="/body-devices-web">Lauterbach Body Devices</option>
      <option value="/head-devices-web">Lauterbach Head Devices</option>
      <option value="/teams-web">Teams</option>
      <option value="/pcs-web">PCs</option>
      <option value="/licenses-web">Licenses</option>
      <option value="/lauterbach-types-web">Lauterbach Names</option>
  </select>
  <input type="submit" value="OK">
</form>
<form action="/ldlogs-web" method="post">
  <label for="pc">PC:</label>
  <input id="pc" name="pc" type="text" list="pcs" value="{{pc_val}}" placeholder="all" onClick="this.select();">
    <datalist id="pcs">
        {% for pc in pcs %}
        <option value="{{pc.username}}"></option>
        {% endfor %}
    </datalist>
    <label for="team">Team:</label>
  <input id="team" name="team" type="text" list="teams" value="{{team_val}}" placeholder="all" onClick="this.select();">
    <datalist id="teams">
        {% for team in teams %}
        <option value="{{team.name}}"></option>
        {% endfor %}
    </datalist>
    <label for="lic">License:</label>
    <input id="lic" name="lic" type="text" list="licenses" value="{{lic_val}}" placeholder="all" onClick="this.select();">
    <datalist id="licenses">
        {% for license in licenses %}
        <option value="{{license.name}} : {{license.license_id}}"></option>
        {% endfor %}
    </datalist>
  <input type="submit" value="Filter">
</form>
    <table id="devices">
    <TR>
        <TH onclick="sortTable(0)">ID</TH>
        <TH onclick="sortTable(1)">PC Username</TH>
        <TH onclick="sortTable(2)">PC Hostname</TH>
        <TH onclick="sortTable(3)">Head Team</TH>
        <TH onclick="sortTable(4)">Body Team</TH>
        <TH onclick="sortTable(5)">Timestamp</TH>
        <TH onclick="sortTable(6)">Status</TH>
        <TH onclick="sortTable(7)">Lauterbach Head ID</TH>
        <TH onclick="sortTable(8)">Lauterbach Body ID</TH>
    </TR>
    {% for log in logs %}
    <TR>
        <TD class="ID">{{log.id}}</TD>
        <TD class="Username">{{log.ldpc.username}}</TD>
        <TD class="Hostname">{{log.ldpc.hostname}}</TD>
        <TD class="Head Team">{{log.head_device.team.name}}</TD>
        <TD class="Body Team">{{log.body_device.team.name}}</TD>
        <TD class="Timestamp">{{log.timestamp}}</TD>
        <TD class="Status">{{log.status}}</TD>
        <TD class="HeadDeviceSerialNumber">{{log.head_device.serial_number}}</TD>
        <TD class="BodyDeviceSerialNumber">{{log.body_device.serial_number}}</TD>
    </TR>
        {% endfor %}
</table>

<script>
function sortTable(n) {
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("devices");
  switching = true;
  dir = "asc";
  while (switching) {
    switching = false;
    rows = table.rows;
    for (i = 1; i < (rows.length - 1); i++) {
      shouldSwitch = false;
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      if (dir == "asc") {
        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
          shouldSwitch= true;
          break;
        }
      } else if (dir == "desc") {
        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
          shouldSwitch = true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      switchcount ++;
    } else {
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}
</script>
</body>
</html>