<html>
<head>
    <title>Licenses Details</title>
</head>
<body>
<div style='float:left'>
<form action="" method="get">
  <label for="view">Choose view:</label>
  <select id="view" name="view" onchange="this.form.action=this.value;">
      <option value=""></option>
      <option value="/logs-web">Logs</option>
      <option value="/ldlogs-web">LD Logs</option>
      <option value="/devices-web">Devices</option>
      <option value="/body-devices-web">Body Devices</option>
      <option value="/teams-web">Teams</option>
      <option value="/pcs-web">PCs</option>
  </select>
  <input type="submit" value="OK">
</form>
</div>
<div style='float:left'>
<form action="/login" method="get">
    <input type="submit" value="Login" />
</form>
</div>
<form action="/logout" method="get">
    <input type="submit" value="Logout" />
</form>
<table>
    <TR>
        <TH>ID</TH>
        <TH>Name</TH>
        <TH>Expiration Date</TH>
    </TR>
    {% for license in licenses %}
    <TR>
        <TD class="ID">{{license.id}}</TD>
        <TD class="Vendor ID">{{license.name}}</TD>
        <TD class="Product ID">{{license.expiration_date}}</TD>
    </TR>
    {% endfor %}
</table>
</body>
</html>