<html>
<head>
    <style>
        #devices {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#devices td, #devices th {
  border: 1px solid #ddd;
  padding: 8px;
}

#devices tr:nth-child(even){background-color: #f2f2f2;}

#devices tr:hover {background-color: #ddd;}

#devices th {
  cursor: pointer;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #47BBF5;
  color: black;
}
    </style>
    <title>Licenses Details</title>
</head>
<body>
<div style='float:left;padding-right:20px'>
<b>Your role: {{user}}</b>
</div>
<div style='float:left;padding-right:5px'>
<form action="/login" method="get">
    <input type="submit" value="Login" />
</form>
</div>
<div style='float:left;padding-right:5px'>
<form action="/signup" method="get">
    <input type="submit" value="Sign Up" />
</form>
</div>
<form action="/logout" method="get">
    <input type="submit" value="Logout" />
</form>
<form action="" method="get">
  <label for="view">Choose view:</label>
  <select id="view" name="view" onchange="this.form.action=this.value;">
      <option value="/logs-web">Vector Logs</option>
      <option value="/ldlogs-web">Lauterbach Logs</option>
      <option value="/devices-web">Keyman Devices</option>
      <option value="/body-devices-web">Lauterbach Body Devices</option>
      <option value="/head-devices-web">Lauterbach Head Devices</option>
      <option value="/teams-web">Teams</option>
      <option value="/pcs-web">PCs</option>
      <option value="/licenses-web" selected>Licenses</option>
      <option value="/lauterbach-types-web">Lauterbach Types</option>
      <option value="/users-web">Users</option>
  </select>
  <input type="submit" value="OK">
</form>
<table id="devices">
    <TR>
        <TH onclick="sortTable(0)">ID</TH>
        <TH onclick="sortTable(1)">License Type</TH>
        <TH onclick="sortTable(2)">License ID</TH>
        <TH onclick="sortTable(3)">Expiration Date</TH>
    </TR>
    {% for license in licenses %}
    <TR>
        <TD class="ID"><a href="/licenses-web-change/{{license.id}}">{{license.id}}</a></TD>
        <TD class="License Type">{{license.name}}</TD>
        <TD class="License ID">{{license.license_id}}</TD>
        <TD class="Expiration Date">{{license.expiration_date}}</TD>
    </TR>
    {% endfor %}
</table>
<form action="/license-create" method="get">
    <input type="submit" value="Add">
</form>

<script>
function sortTable(n) {
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("devices");
  switching = true;
  dir = "asc";
  while (switching) {
    switching = false;
    rows = table.rows;
    for (i = 1; i < (rows.length - 1); i++) {
      shouldSwitch = false;
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      if (dir == "asc") {
        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
          shouldSwitch= true;
          break;
        }
      } else if (dir == "desc") {
        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
          shouldSwitch = true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      switchcount ++;
    } else {
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}
</script>
</body>
</html>