<html>
<head>
    <title>Pcs Details</title>
</head>
<body>
<div style='float:left;padding-right:20px'>
<b>Your role: {{user}}</b>
</div>
<div style='float:left;padding-right:5px'>
<form action="/login" method="get">
    <input type="submit" value="Login" />
</form>
</div>
<div style='float:left;padding-right:5px'>
<form action="/signup" method="get">
    <input type="submit" value="Sign Up" />
</form>
</div>
<form action="/logout" method="get">
    <input type="submit" value="Logout" />
</form>
<form action="" method="get">
  <label for="view">Choose view:</label>
  <select id="view" name="view" onchange="this.form.action=this.value;">
      <option value="/logs-web">Vector Logs</option>
      <option value="/ldlogs-web">Lauterbach Logs</option>
      <option value="/devices-web">Devices</option>
      <option value="/body-devices-web">Body Devices</option>
      <option value="/teams-web">Teams</option>
      <option value="/pcs-web" selected>PCs</option>
      <option value="/licenses-web">Licenses</option>
      <option value="/users-web">Users</option>
  </select>
  <input type="submit" value="OK">
</form>
<table>
    <TR>
        <TH>ID</TH>
        <TH>Username</TH>
        <TH>Hostname</TH>
    </TR>
    {% for pc in pcs %}
    <TR>
        <TD class="ID">{{pc.id}}</TD>
        <TD class="Username">{{pc.username}}</TD>
        <TD class="Hostname">{{pc.hostname}}</TD>
    </TR>
    {% endfor %}
</table>
</body>
</html>