<html>
<head>
    <title>Users Details</title>
</head>
<body>
<div style='float:left;padding-right:5px'>
<form action="/login" method="get">
    <input type="submit" value="Login" />
</form>
</div>
<div style='float:left;padding-right:5px'>
<form action="/signup" method="get">
    <input type="submit" value="Sign Up" />
</form>
</div>
<form action="/logout" method="get">
    <input type="submit" value="Logout" />
</form>
<form action="" method="get">
  <label for="view">Choose view:</label>
  <select id="view" name="view" onchange="this.form.action=this.value;">
      <option value=""></option>
      <option value="/logs-web">Logs</option>
      <option value="/ldlogs-web">LD Logs</option>
      <option value="/devices-web">Devices</option>
      <option value="/body-devices-web">Body Devices</option>
      <option value="/teams-web">Teams</option>
      <option value="/pcs-web">PCs</option>
      <option value="/licenses-web">Licenses</option>
      <option value="/users-web">Users</option>
  </select>
  <input type="submit" value="OK">
</form>
<table>
    <TR>
        <TH>ID</TH>
        <TH>Username</TH>
        <TH>Role</TH>
    </TR>
    {% for user in users %}
    <TR>
        <TD class="ID"><a href="/user-role/{{user.id}}">{{user.id}}</a></TD>
        <TD class="Username">{{user.username}}</TD>
        <TD class="Role">{{user.role}}</TD>
    </TR>
    {% endfor %}
</table>
</body>
</html>