<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crossroad</title>
</head>
<body>
<form action="" method="get">
  <label for="view">Choose view:</label>
  <select id="view" name="view" onchange="this.form.action=this.value;">
      <option value=""></option>
      <option value="/logs-web">Logs</option>
      <option value="/ldlogs-web">LD Logs</option>
      <option value="/devices-web">Devices</option>
      <option value="/body-devices-web">Body Devices</option>
      <option value="/teams-web">Teams</option>
      <option value="/pcs-web">PCs</option>
      <option value="/licenses-web">Licenses</option>
  </select>
  <input type="submit" value="OK">
</form>
<h3>Available endpoints are accessible from selectBox above</h3>
<h4>Endpoints are:</h4>
<table>
    <TR>
        <TH>URL</TH>
        <TH>Purpose</TH>
    </TR>
    <TR>
        <TD class="URL">/logs-web</TD>
        <TD class="Purpose">Shows all saves Keyman logs. User can filter through license, team and user</TD>
    </TR>
    <TR>
        <TD class="URL">/ldlogs-web</TD>
        <TD class="Purpose">Shows all saves LD debugger logs. User can filter through license, team and user</TD>
    </TR>
    <TR>
        <TD class="URL">/devices-web</TD>
        <TD class="Purpose">Shows all Keyman devices saved in database and its last state (connected, disconnected)</TD>
    </TR>
    <TR>
        <TD class="URL">/body-devices-web</TD>
        <TD class="Purpose">Shows all LD Body devices saved in database and its last state (connected, disconnected)</TD>
    </TR>
    <TR>
        <TD class="URL">/teams-web</TD>
        <TD class="Purpose">Shows all teams currently saved in database and its members</TD>
    </TR>
    <TR>
        <TD class="URL">/pcs-web</TD>
        <TD class="Purpose">Shows all PCS currently saved in database and its team</TD>
    </TR>
    <TR>
        <TD class="URL">/licenses-web</TD>
        <TD class="Purpose">Shows all Licenses currently saved in database and its expiration date</TD>
    </TR>
</table>
</body>
</html>