<html>
<head>
    <style>
        #devices {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#devices td, #devices th {
  border: 1px solid #ddd;
  padding: 8px;
}

#devices tr:nth-child(even){background-color: #f2f2f2;}

#devices tr:hover {background-color: #ddd;}

#devices th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #47BBF5;
  color: black;
}
    </style>
    <title>Logs Details</title>
</head>
<body>
<div style='float:left;padding-right:20px'>
<b>Your role: {{user}}</b>
</div>
<div style='float:left;padding-right:5px'>
<form action="/login" method="get">
    <input type="submit" value="Login" />
</form>
</div>
<div style='float:left;padding-right:5px'>
<form action="/signup" method="get">
    <input type="submit" value="Sign Up" />
</form>
</div>
<form action="/logout" method="get">
    <input type="submit" value="Logout" />
</form>
<form action="" method="get">
  <label for="view">Choose view:</label>
  <select id="view" name="view" onchange="this.form.action=this.value;">
      <option value="/logs-web" selected>Vector Logs</option>
      <option value="/ldlogs-web">Lauterbach Logs</option>
      <option value="/devices-web">Keyman Devices</option>
      <option value="/body-devices-web">Lauterbach Devices</option>
      <option value="/teams-web">Teams</option>
      <option value="/pcs-web">PCs</option>
      <option value="/licenses-web">Licenses</option>
  </select>
  <input type="submit" value="OK">
</form>
<form action="/logs-web" method="post">
  <label for="pc">PC:</label>
  <input id="pc" name="pc" type="text" list="pcs" value="" placeholder="all">
    <datalist id="pcs">
        {% for pc in pcs %}
        <option value="{{pc.username}}"></option>
        {% endfor %}
    </datalist>
    <label for="team">Team:</label>
  <input id="team" name="team" type="text" list="teams" value="" placeholder="all">
    <datalist id="teams">
        {% for team in teams %}
        <option value="{{team.name}}"></option>
        {% endfor %}
    </datalist>
    <label for="lic">License:</label>
    <input id="lic" name="lic" type="text" list="licenses" value="" placeholder="all">
    <datalist id="licenses">
        {% for license in licenses %}
        <option value="{{license.name}}"></option>
        {% endfor %}
    </datalist>
  <input type="submit" value="Filter">
</form>
    <table id="devices">
    <TR>
        <TH>ID</TH>
        <TH>PC Username</TH>
        <TH>PC Hostname</TH>
        <TH>Team</TH>
        <TH>Timestamp</TH>
        <TH>Status</TH>
        <TH>Keyman ID</TH>
    </TR>
    {% for log in logs %}
    <TR>
        <TD class="ID">{{log.id}}</TD>
        <TD class="Username">{{log.pc.username}}</TD>
        <TD class="Hostname">{{log.pc.hostname}}</TD>
        {% if log.pc.team == None %}
            <TD class="Team">NONE</TD>
        {% else %}
            <TD class="Team">{{log.device.team.name}}</TD>
        {% endif %}
        <TD class="Timestamp">{{log.timestamp}}</TD>
        <TD class="Status">{{log.status}}</TD>
        <TD class="DeviceSerialNumber">{{log.device.serial_number}}</TD>
    </TR>
    {% endfor %}
</table>
</body>
</html>