<html>
<head>
    <title>Teams Details</title>
</head>
<body>
<form action="" method="get">
  <label for="view">Choose view:</label>
  <select id="view" name="view" onchange="this.form.action=this.value;">
      <option value=""></option>
      <option value="/api/v1/logs-web">Logs</option>
      <option value="/api/v1/devices-web">Devices</option>
      <option value="/api/v1/teams-web">Teams</option>
      <option value="/api/v1/pcs-web">PCs</option>
  </select>
  <input type="submit" value="OK">
</form>
<table>
    <TR>
        <TH>ID</TH>
        <TH>Name</TH>
    </TR>
    {% for team in teams %}
    <TR>
        <TD class="ID">{{team.id}}</TD>
        <TD class="Vendor ID">{{team.name}}</TD>
    </TR>
    {% endfor %}
</table>
</body>
</html>