<html>
<head>
    <style>
        #devices {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#devices td, #devices th {
  border: 1px solid #ddd;
  padding: 8px;
}

#devices tr:nth-child(even){background-color: #f2f2f2;}

#devices tr:hover {background-color: #ddd;}

#devices th {
  cursor: pointer;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #47BBF5;
  color: black;
}
    </style>
    <title>Head Devices Details</title>
</head>
<body>
<div style='float:left;padding-right:20px'>
<b>Your role: {{user}}</b>
</div>
<div style='float:left;padding-right:5px'>
<form action="/login" method="get">
    <input type="submit" value="Login" />
</form>
</div>
<div style='float:left;padding-right:5px'>
<form action="/signup" method="get">
    <input type="submit" value="Sign Up" />
</form>
</div>
<form action="/logout" method="get">
    <input type="submit" value="Logout" />
</form>
<form action="" method="get">
  <label for="view">Choose view:</label>
  <select id="view" name="view" onchange="this.form.action=this.value;">
      <option value="/logs-web">Vector Logs</option>
      <option value="/ldlogs-web">Lauterbach Logs</option>
      <option value="/devices-web">Keyman Devices</option>
      <option value="/body-devices-web">Lauterbach Body Devices</option>
      <option value="/head-devices-web" selected>Lauterbach Head Devices</option>
      <option value="/teams-web">Teams</option>
      <option value="/pcs-web">PCs</option>
      <option value="/licenses-web">Licenses</option>
      <option value="/lauterbach-types-web">Lauterbach Type</option>
      <option value="/users-web">Users</option>
  </select>
  <input type="submit" value="OK">
</form>
<label for="myInput">Head Device ID:</label>
<input type="text" onClick="this.setSelectionRange(0, this.value.length)" id="myInput" onkeyup="myFunction()" placeholder="Search for HeadDevice ID">
<label for="myInput2">Lauterbach Type:</label>
<input type="text" onClick="this.setSelectionRange(0, this.value.length)" id="myInput2" onkeyup="myFunction()" placeholder="Search for LB type">
<label for="myInput3">Team:</label>
<input type="text" onClick="this.setSelectionRange(0, this.value.length)" id="myInput3" onkeyup="myFunction()" placeholder="Search for team name">
<table id="devices">
    <TR>
        <TH onclick="sortTable(0)">ID</TH>
        <TH onclick="sortTable(1)">Lauterbach Head ID</TH>
        <TH onclick="sortTable(2)">Lauterbach Type</TH>
        <TH onclick="sortTable(3)">Inventory Number</TH>
        <TH onclick="sortTable(4)">Team</TH>
        <TH onclick="sortTable(5)">Last Username</TH>
        <TH onclick="sortTable(6)">Last Hostname</TH>
        <TH onclick="sortTable(7)">Last Detection</TH>
        <TH onclick="sortTable(8)">Status</TH>
        <TH onclick="sortTable(9)">Comment</TH>
    </TR>
    {% for dev in devices %}
    <TR>
        <TD class="ID"><a href="/head-device-lbtype/{{dev['device'].id}}">{{dev['device'].id}}</a></TD>
        <TD class="Lauterbach Head ID">{{dev['device'].serial_number}}</TD>
        <TD class="Lauterbach Name">{{dev['ltype'].name}}</TD>
        <TD class="Inventory Number">{{dev['device'].inventory_number}}</TD>
        <TD class="Team">{{dev['device'].team.name}}</TD>
        <TD class="Last Username">{{dev['log'].ldpc.username}}</TD>
        <TD class="Last Hostname">{{dev['log'].ldpc.hostname}}</TD>
        <TD class="Last Detection">{{dev['log'].timestamp}}</TD>
        <TD class="Status">{{dev['log'].status}}</TD>
        <TD class="Comment">{{dev['device'].comment}}</TD>
    </TR>
    {% endfor %}
</table>

<script>
function sortTable(n) {
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("devices");
  switching = true;
  dir = "asc";
  while (switching) {
    switching = false;
    rows = table.rows;
    for (i = 1; i < (rows.length - 1); i++) {
      shouldSwitch = false;
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      if (dir == "asc") {
        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
          shouldSwitch= true;
          break;
        }
      } else if (dir == "desc") {
        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
          shouldSwitch = true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      switchcount ++;
    } else {
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}

function myFunction() {
  var input, filter, table, tr, td, i;
  input = document.getElementById("myInput");
  input2 = document.getElementById("myInput2")
  input3 = document.getElementById("myInput3")
  filter = input.value.toUpperCase();
  filter2 = input2.value.toUpperCase();
  filter3 = input3.value.toUpperCase();
  table = document.getElementById("devices");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[1];
    td2 = tr[i].getElementsByTagName("td")[2];
    td3 = tr[i].getElementsByTagName("td")[4];
    if (td && td2 && td3) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1 &&
      td2.innerHTML.toUpperCase().indexOf(filter2) > -1 &&
      td3.innerHTML.toUpperCase().indexOf(filter3) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>
</body>
</html>