<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Device License Connect</title>
</head>
<body>
<h6><p>Vendor ID: {{device.vendor_id}}</p>
    <p>Product ID: {{device.product_id}}</p>
    <p>Serial Number: {{device.serial_number}}</p>
</h6>
<form action="/devices-web/{{device.id}}" method="post">
  <label for="lic">Licenses:</label>
  <select id="lic" name="lic">
      {% for license in licenses %}
    <option value={{license.id}}>{{license.name}}</option>
      {% endfor %}
  </select>
  <input type="submit" value="Connect">
</form>
</body>
</html>