<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Body Device License Connect</title>
</head>
<body>
<h6>
    <p>Serial Number: {{device.serial_number}}</p>
</h6>
<h4>
    License ID: {{device.license.license_id}}
</h4>
<form action="/body-devices-web-lic/{{device.id}}" method="post">
  <label for="lic">Licenses:</label>
  <select id="lic" name="lic">
      {% for license in licenses %}
    <option value={{license.id}}>{{license.license_id}}</option>
      {% endfor %}
  </select>
  <input type="submit" value="Connect">
</form>
<div style='padding-top:20px'>
<form action="/body-devices-web-team/{{device.id}}" method="post">
  <label for="team_con">Teams:</label>
  <select id="team_con" name="team_con" >
      {% for team in teams %}
    <option value={{team.id}}>{{team.name}}</option>
      {% endfor %}
  </select>
  <input type="submit" value="Connect">
</form>
</div>
<div style='padding-top:20px'>
<form action="/body-devices-inv/{{device.id}}" method="post">
  <label for="dev_inv">Inventory Number:</label><br>
  <input type="text" id="dev_inv" name="dev_inv" value="{{device.inventory_number}}">
  <input type="submit" value="Submit">
</form>
</div>
<div style='padding-top:20px'>
<form action="/body-devices-comm/{{device.id}}" method="post">
  <label for="dev_com">Comment:</label><br>
  <input type="text" id="dev_com" name="dev_com" value="{{device.comment}}">
  <input type="submit" value="Submit">
</form>
</div>
</body>
</html>